/* CSS Document */
*{
    margin:0;
    padding:0;
}
body {
    font:12px arial;
    color: #222;
    text-align:center;
}
  
  
input { font:12px arial; }
  
a {
    color:#0000FF;
    text-decoration:none; 
}
  
a:hover { 
    text-decoration:underline;
}
  
#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0; 
    border-radius:10px;
}
  
#loginform { padding-top:18px; }
  
#loginform p { margin: 5px; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; 
}
  
#user_message {
    width:300px;
    border:1px solid #ACD8F0; 
}
  
#send_button, #empty_chat { width: 60px; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.user_slug { float:left; }
  
.logout { float:right; }
  
.message_line { margin:0 0 2px 0; }